body{background-color: black;
}
h1{color: aliceblue;
}
.p1{text-align: center; font-size: 100%;
border-style:solid ;padding-top: 0%;}
.p1{color: darkblue;}
.p1{padding-top: 3%;}

.p2{text-align: center; font-size: 110%;
padding-top: 1%;}
.p2{border-style: solid;}
.p2{color: rgb(255, 255, 255);}
.p2::after

.p3{text-align: center; font-size: 110%;
    padding-top: 1%;}
.p3{color: chartreuse;}

.p4{text-align: center; font-size: 110%;}
.p4{color: dimgray;
padding-top: 1%;}